{% load user_filters %}
<hr>
<style>
thead th {
  position: sticky;
  top: 0;
  background: white;
}
</style>

<div class="ms-3 me-3">
  <p>Количество блоков: {{ cnt }}</p>
    <table class="table table-sm table-hover table-bordered text-center">
        <thead>
          <tr>
            <th scope="col" style="width: 3%"></th>
            <th scope="col" style="width: 6%">Учетный №</th>
            <th style="width: 25%" scope="col">Наименование блока</th>
            <th scope="col" style="width: 5%">Зав. номер</th>
            <th scope="col" style="width: 11%">Участок</th>
            <th scope="col" style="width: 7%">Дата приема</th>
            <th scope="col" style="width: 7%">Дата ремонта</th>
            <th scope="col" style="width: 7%">Дата отправки</th>
            <th scope="col" style="width: 4%">Состояние</th>
            <th scope="col" style="width: 26%">Примечание</th>
          </tr>
        </thead>
        <tbody>
        {% for bb in page %}
        {% if bb.status == 'забракован' %}
        <tr class="text-danger">
            <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{bb.pk}}" id='{{bb.pk}}'></td>
            <td scope="row"><a href="{% url 'block_info' bb.pk %}">{{ bb.pk }}</a></td>
            <td style="text-align: left;">{{ bb.name_block }}</td>
            <td>{{ bb.serial_number }}</td>
            <td>{{ bb.region }}</td>
            <td>{{ bb.date_add|date:"d.m.Y" }}</td>
            <td>{{ bb.date_repair|date:"d.m.Y" }}</td>
            <td>{{ bb.date_shipment|date:"d.m.Y" }}</td>
            <td>{{ bb.status }}</td>
            <td style="text-align: left;">{{ bb.note|default_if_none:"" }}</td>
        </tr>
        {%elif bb.status == 'выдан'%}
        <tr class="text-success">
          <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{bb.pk}}" id='{{bb.pk}}'></td>
            <td scope="row"><a href="{% url 'block_info' bb.pk %}">{{bb.pk}}</a></td>
            <td style="text-align: left;">{{ bb.name_block }}</td>
            <td>{{ bb.serial_number }}</td>
            <td>{{ bb.region }}</td>
            <td>{{ bb.date_add|date:"d.m.Y" }}</td>
            <td>{{ bb.date_repair|date:"d.m.Y" }}</td>
            <td>{{ bb.date_shipment|date:"d.m.Y" }}</td>
            <td>{{ bb.status }}</td>
            <td style="text-align: left;">{{ bb.note|default_if_none:"" }}</td>
        </tr>
        {%elif bb.status == 'производителю'%}
        <tr style="color:DarkGoldenRod;">
          <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{bb.pk}}" id='{{bb.pk}}'></td>
            <td scope="row"><a href="{% url 'block_info' bb.pk %}">{{bb.pk}}</a></td>
            <td style="text-align: left;">{{ bb.name_block }}</td>
            <td>{{ bb.serial_number }}</td>
            <td>{{ bb.region }}</td>
            <td>{{ bb.date_add|date:"d.m.Y" }}</td>
            <td>{{ bb.date_repair|date:"d.m.Y" }}</td>
            <td>{{ bb.date_shipment|date:"d.m.Y" }}</td>
            <td>{{ bb.status }}</td>
            <td style="text-align: left;">{{ bb.note|default_if_none:"" }}</td>
        </tr>
        {% elif bb.status == 'готов' and bb.date_repair != null %}
        <tr class="text-primary">
          <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{bb.pk}}" id='{{bb.pk}}'></td>
            <td scope="row"><a href="{% url 'block_info' bb.pk %}">{{bb.pk}}</a></td>
            <td style="text-align: left;">{{ bb.name_block }}</td>
            <td>{{ bb.serial_number }}</td>
            <td>{{ bb.region }}</td>
            <td>{{ bb.date_add|date:"d.m.Y" }}</td>
            <td>{{ bb.date_repair|date:"d.m.Y" }}</td>
            <td>{{ bb.date_shipment|date:"d.m.Y" }}</td>
            <td>{{ bb.status }}</td>
            <td style="text-align: left;">{{ bb.note|default_if_none:"" }}</td>
        </tr>
        {% else %}
        <tr>
          <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{bb.pk}}" id='{{bb.pk}}'></td>
            <td scope="row"><a href="{% url 'block_info' bb.pk %}">{{bb.pk}}</a></td>
            <td style="text-align: left;">{{ bb.name_block }}</td>
            <td>{{ bb.serial_number }}</td>
            <td>{{ bb.region }}</td>
            <td>{{ bb.date_add|date:"d.m.Y" }}</td>
            <td>{{ bb.date_repair|date:"d.m.Y" }}</td>
            <td>{{ bb.date_shipment|date:"d.m.Y" }}</td>
            <td>{{ bb.status }}</td>
            <td style="text-align: left;">{{ bb.note|default_if_none:"" }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
</div>