{% load user_filters %}
<hr>
<style>
thead th {
  position: sticky;
  top: 0;
  background: white;
}
</style>

<div class="ms-3 me-3">
        <p>Количество блоков в выборке: {{ cnt }}</p>
        <table class="table table-sm table-hover table-bordered text-center">
            <thead>
              <tr>
                <th scope="col" style="width: 1%"></th>
                <th scope="col" style="width: 7%">Учетный №</th>
                <th style="min-width: 350px; width: 25%" scope="col">Наименование блока</th>
                <th scope="col" style="width: 5%">Зав. номер</th>
                <th scope="col" style="width: 7%">Производитель</th>
                <th scope="col" style="width: 8%">Дата отправки</th>
                <th scope="col" style="width: 8%">Дата возврата</th>
                <th scope="col" style="width: 5%">Статус</th>
                <th scope="col" style="width: 15%">Причина</th>
                <th scope="col" style="width: 15%">Примечание</th>
              </tr>
            </thead>
            <tbody>
            {% for bb in data_filter.qs %}
            {% if bb.maker_status == 'забракован' %}
            <tr class="text-danger">
              <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.number_block }}" id='{{ bb.number_block }}'></td>
              <td><a href="{% url 'block_info' bb.number_block %}">{{ bb.number_block }}</a></td>
              <td>{{ bb.name_block }}</td>
              <td>{{ bb.serial_number|default_if_none:"" }}</td>
              <td>{{ bb.maker }}</td>
              <td>{{ bb.date_shipment_maker|date:"d.m.Y" }}</td>
              <td>{{ bb.date_add_maker|date:"d.m.Y" }}</td>
              <td>{{ bb.maker_status }}</td>
              <td>{{ bb.reason|default_if_none:"" }}</td>
              <td>{{ bb.note_maker|default_if_none:"" }}</td>
            </tr>
            {%elif bb.maker_status == 'отправлен'%}
            <tr>
              <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.number_block }}" id='{{ bb.number_block }}'></td>
              <td><a href="{% url 'block_info' bb.number_block %}">{{ bb.number_block }}</a></td>
              <td>{{ bb.name_block }}</td>
              <td>{{ bb.serial_number|default_if_none:"" }}</td>
              <td>{{ bb.maker }}</td>
              <td>{{ bb.date_shipment_maker|date:"d.m.Y" }}</td>
              <td>{{ bb.date_add_maker|date:"d.m.Y" }}</td>
              <td>{{ bb.maker_status }}</td>
              <td>{{ bb.reason|default_if_none:"" }}</td>
              <td>{{ bb.note_maker|default_if_none:"" }}</td>
            </tr>
            {% elif bb.maker_status == 'возвращен' %}
            <tr class="text-primary">
              <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.number_block }}" id='{{ bb.number_block }}'></td>
              <td><a href="{% url 'block_info' bb.number_block %}">{{ bb.number_block }}</a></td>
              <td>{{ bb.name_block }}</td>
              <td>{{ bb.serial_number|default_if_none:"" }}</td>
              <td>{{ bb.maker }}</td>
              <td>{{ bb.date_shipment_maker|date:"d.m.Y" }}</td>
              <td>{{ bb.date_add_maker|date:"d.m.Y" }}</td>
              <td>{{ bb.maker_status }}</td>
              <td>{{ bb.reason|default_if_none:"" }}</td>
              <td>{{ bb.note_maker|default_if_none:"" }}</td>
            </tr>
            {% elif bb.maker_status == 'ожидает' %}
            <tr class="text-orange">
                <td><input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.number_block }}" id='{{ bb.number_block }}'></td>
                <td><a href="{% url 'block_info' bb.number_block %}">{{ bb.number_block }}</a></td>
                <td>{{ bb.name_block }}</td>
                <td>{{ bb.serial_number|default_if_none:"" }}</td>
                <td>{{ bb.maker }}</td>
                <td>{{ bb.date_shipment_maker|date:"d.m.Y" }}</td>
                <td>{{ bb.date_add_maker|date:"d.m.Y" }}</td>
                <td>{{ bb.maker_status }}</td>
                <td>{{ bb.reason|default_if_none:"" }}</td>
                <td>{{ bb.note_maker|default_if_none:"" }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
</div>