
    <th scope="row">
      <input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.pk }}" id='{{ bb.pk }}'>
    </th>
    <td>{{ bb.pk }}&nbsp;<a href='{% url "edit_order" bb.pk %}'>ред.</a></td>
    <td style="text-align: left;">
      {{ bb.component }}
      {% if bb.note %}
        <a href='{{ bb.note }}'>ссылка</a>
      {% endif %}
      {% if bb.component.block_components.exists %}
        <a href="#"style="float: right;" data-toggle="tooltip" id='help_block' type="button" class="btn btn-sm btn-outline-primary" data-placement="right" title="{% for i in bb.component.block_components.all %} {{ i }} <br>---<br> {% endfor %}">блоки</a>
      {% endif %}
    </td>
    <td>{{ bb.amount }}</td>
    <td>{{ bb.date_created|date:"d.m.Y" }}</td>
    {% if bb.date_processing %}
    <td>{{ bb.date_processing|date:"d.m.Y" }}</td>
    {% else %}
    <td><a href='{% url "processing_order" bb.pk %}' class="btn btn-primary btn-sm">Обработать</a></td>
    {% endif %}
    <td>{{ bb.amount_order|default_if_none:"" }}</td>
    <td>{{ bb.provider|default_if_none:"" }}</td>
    {% if bb.status == 'обработан' %}
    <td>
      <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
    </td>
    {% else %}
    <td id="date_order_id_js">{{ bb.date_order|date:"d.m.Y" }}</td>
    {% endif %}
    <td>{{ bb.invoice_number|default_if_none:"" }}</td>
    {% if bb.status == 'оплачен' or bb.status == 'недопоставка' %}
    <td colspan="2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href='{% url "incomplete_commit_order" bb.pk %}' name="commit" class="btn btn-primary btn-sm">Получить</a>
        <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
      </div>
    </td>
    {% elif bb.status == 'заказан' %}
    <td colspan="2">
      <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
    </td>
    {% else %}
      <td>{{ bb.amount_commit|default_if_none:"" }}</td>
      <td>{{ bb.date_commit|date:"d.m.Y" }}</td>
    {% endif %}
    <td>{{ bb.status|default_if_none:"" }}</td>
    <td>{{ bb.delivery_time|default_if_none:"" }}</td>
    <td>{{ bb.user|default_if_none:"" }}</td>