
    <th scope="row">
      <input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.pk }}" id='{{ bb.pk }}'>
    </th>
    <td>{{ bb.pk }}&nbsp;<a href='{% url "edit_order" bb.pk %}'>ред.</a></td>
    <td style="text-align: left;">
      {% if bb.component.block_components.exists %}
        <p style="margin-bottom: 2px;" data-toggle="tooltip" id='help_block' data-placement="right" title="{% for i in bb.component.block_components.all %} {{ i }}; <br> {% endfor %}">
          {{ bb.component.marking }} {{ bb.component.note }}
          {% if bb.note %}
            {% if 'aliexpress' in bb.note %}
              <a href='{{ bb.note }}' target="_blank">aliexpr</a>
            {% else %}
              <a href='{{ bb.note }}' target="_blank">ссылка</a>
            {% endif %}
          {% endif %}
        </p>
      {% else %}
        {{ bb.component.marking }}
        {{ bb.component.note }}
        {% if bb.note %}
          {% if 'aliexpress' in bb.note %}
            <a href='{{ bb.note }}' target="_blank">aliexpr</a>
          {% else %}
            <a href='{{ bb.note }}' target="_blank">ссылка</a>
          {% endif %}
        {% endif %}
      {% endif %}
    </td>
    <td style="text-align: left;">
      {{ bb.component.type_component }}
    </td>
    <td>{{ bb.amount }}</td>
    <td>{{ bb.date_created|date:"d.m.Y" }}</td>
    {% if bb.date_processing %}
    <td>{{ bb.date_processing|date:"d.m.Y" }}</td>
    {% else %}
    <td><a href='{% url "processing_order" bb.pk %}' class="btn btn-primary btn-sm">Обработать</a></td>
    {% endif %}
    <td>{{ bb.amount_order|default_if_none:"" }}</td>
    <td>{{ bb.provider|default_if_none:"" }}</td>
    {% if bb.status == 'обработан' %}
    <td>
      <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
    </td>
    {% else %}
      <td id="date_order_id_js">{{ bb.date_order|date:"d.m.Y" }}</td>
    {% endif %}
    <td>
      {{ bb.invoice_number|default_if_none:"" }}
      {% if bb.invoice_document %}
        <a href="{{ bb.invoice_document.url }}" target="_blank"><img src="https://img.icons8.com/office/16/000000/installing-updates--v2.png"/></a>
      {% endif %}
    </td>

    <td>
      <p style="margin-bottom: 2px;" data-toggle="tooltip" id='help_block' data-placement="right" title="{% if bb.unit_order %}{{ bb.unit_order }}{% if bb.purpose_order %} --> {{ bb.purpose_order }}{% endif %}{% endif %}">{{ bb.payer|default_if_none:"" }}</p>
    </td>

    {% if bb.status == 'оплачен' or bb.status == 'недопоставка' %}
    <td colspan="2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href='{% url "incomplete_commit_order" bb.pk %}' name="commit" class="btn btn-primary btn-sm">Получить</a>
        <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
      </div>
    </td>
    {% elif bb.status == 'заказан' %}
    <td colspan="2">
      <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
    </td>
    {% else %}
      <td>{{ bb.amount_commit|default_if_none:"" }}</td>
      <td>{{ bb.date_commit|date:"d.m.Y" }}</td>
    {% endif %}
    <td>{{ bb.status|default_if_none:"" }}</td>
    <td>{{ bb.delivery_time|default_if_none:"" }}</td>
    <td>{{ bb.user|default_if_none:"" }}</td>