{% extends "base.html" %}
{% load user_filters %}
{% block title %}Заказы{% endblock %}

{% block content %}
<style>
  .select2-close-mask{
      z-index: 2099;
  }
  .select2-dropdown{
      z-index: 3051;
  }
  thead th {
    position: sticky;
    top: 0;
    background: white;
  }
  .tooltip > .tooltip-inner {
    background-color: black;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    max-width: 500px;
  }
</style>


<h1 class='text-center'>Заказы</h1>

<div class='container'>
  {% include 'includes/messages.html' %}
</div>
<hr>

<form method="get">
  <div class="container">
    <h3>Фильтр:</h3>
    <div class="row">
      <div class="col-4">
        {{ data_filter_form.form.component.label_tag }}
        {{ data_filter_form.form.component|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.delivery_time.label_tag }}
        {{ data_filter_form.form.delivery_time|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.provider.label_tag }}
        {{ data_filter_form.form.provider|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.status.label_tag }}
        {{ data_filter_form.form.status|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.invoice_number.label_tag }}
        {{ data_filter_form.form.invoice_number|addclass:"form-control form-control-sm" }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <label for="id_date_created_0">Дата заявки c</label>
        <input type="date" name="date_created_after" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_created_0">
        <label for="id_date_created_1">по</label>
        <input type="date" name="date_created_before" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_created_1">
      </div>
      <div class="col">
        <label for="id_date_processing_0">Дата обработки c</label>
        <input type="date" name="date_processing_after" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_processing_0">
        <label for="id_date_processing_1">по</label>
        <input type="date" name="date_processing_before" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_processing_1">
      </div>
      <div class="col">
        <label for="id_date_order_0">Дата получения c</label>
        <input type="date" name="date_order_after" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_order_0">
        <label for="id_date_order_1">по</label>
        <input type="date" name="date_order_before" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_order_1">
      </div>
      <div class="col">
        <label for="id_date_commit_0">Дата получения c</label>
        <input type="date" name="date_commit_after" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_commit_0">
        <label for="id_date_commit_1">по</label>
        <input type="date" name="date_commit_before" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_commit_1">
      </div>
      <div class="col">
        {{ data_filter_form.form.user.label_tag }}
        {{ data_filter_form.form.user|addclass:"form-control form-control-sm" }}
        {{ data_filter_form.form.payer.label_tag }}
        {{ data_filter_form.form.payer|addclass:"form-control form-control-sm" }}
      </div>
    </div>
    <br>
    <div class="row">
        <button type="submit" class="btn btn-dark btn-sm btn-primary btn-block">Применить</button>
    </div>

  </div>
</form>
<hr>
<div class='container text-center'>
  <div class='row'>
    <div class='col'>
      <button id='help' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_unit_order" data-placement="top" title="Добавляет подразделение для платежей.">
        Добавить подразделение для платежей
      </button>
    </div>
    <div class='col'>
      <button id='help' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_purpose_order" data-placement="top" title="Добавляет назначение для платежей.">
        Добавить назначение для платежей
      </button>
    </div>
  </div>
</div>
<hr>

<div class="modal fade" id="create_unit_order" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Добавить подразделение для платежей</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='{% url "create_unit_order" %}' method='POST'>
        {% csrf_token %}
        <div class="modal-body">
          {% for field in create_unit_order_form %}
            <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }} {{ field|addclass:"form-control form-control-sm" }}
              {% if field.help_text %}
                <p class="help"><i>{{ field.help_text|safe }}</i></p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="create_purpose_order" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Добавить назначение для платежей</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='{% url "create_purpose_order" %}' method='POST'>
        {% csrf_token %}
        <div class="modal-body">
          {% for field in create_purpose_order_form %}
            <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }} {{ field|addclass:"form-control form-control-sm" }}
              {% if field.help_text %}
                <p class="help"><i>{{ field.help_text|safe }}</i></p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="create_request" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Создать заявку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='{% url "create_request" %}' method='POST'>
        {% csrf_token %}
        <div class="modal-body">
          {% for field in processing_order_form %}
            {% if field.name == 'component' or field.name == 'amount' or field.name == 'note' %}
            <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }} {{ field|addclass:"form-control form-control-sm" }}
              {% if field.help_text %}
                <p class="help"><i>{{ field.help_text|safe }}</i></p>
              {% endif %}
            </div>
            {% else %}
              {{ field.as_hidden }}
            {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>

<form action="{% url 'order_components' %}" method='POST',  enctype="multipart/form-data">
  <div class='ms-3 me-3'>
    <button id='help' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_request" data-placement="top" title="Создание заявки для заказа компонента">
      Создать заявку
    </button>
    <button id='help' type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#invoice_order" data-placement="top" title="После обработки заявки. Выделите используя 'чекбокс' необходимые заявки и нажмите на кнопку.">
      Сформировать заказ
    </button>
    <a id='help' href="{% url 'confirmation_form' %}?commit" class="btn btn-info" data-placement="top" title="Подтвердите оплату используя номер счета. Выделять заявки не требуется.">Подтвердить оплату</a>
    <button id='help' type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#commit_order" data-placement="top" title="После подтверждения оплаты. Выделите используя 'чекбокс' зявки и нажмите кнопку.">Принять весь заказ</button>
    <div style="float: right;">
      <a id='help' href="{% url 'create_report' %}?cancel" name='cancel' class="btn btn-danger" data-placement="top" title="Сформировать отчет по заявкам за определенный период">Сформировать отчет</a> 
      <a id='help' href="{% url 'confirmation_form' %}?cancel" name='cancel' class="btn btn-danger" data-placement="top" title="Отмените заказы используя номер счета. Выделять заявки не требуется.">Отменить заказ</a> 
    </div>
  </div>
  <hr>
  <div class='ms-3 me-3'>
    <p>Заказов в выборке: {{ cnt }}</p>
</div>
  <div class="ms-3 me-3">
    <table class="table table-sm table-hover table-bordered text-center" id="table_order">
      <thead class='table-light'>
        <tr>
          <th scope="col" style="width: 1%"><input id="select_all" type="checkbox" class="form-check-input"></th>
          <th style="width: 3%">№</th>
          <th style="min-width: 100px;" scope="col">Маркировка</th>
          <th style="min-width: 100px;" scope="col">Тип компонента</th>
          <th scope="col">Количество</th>
          <th style="min-width: 112px;" scope="col">Дата заявки</th>
          <th style="min-width: 135px;" scope="col">Дата обработки</th>
          <th style="min-width: 45px;" scope="col">Заказано</th>
          <th scope="col">Поставщик</th>
          <th style="min-width: 112px;" scope="col">Дата заказа</th>
          <th style="min-width: 112px;" scope="col">Номер счета</th>
          <th style="min-width: 50px;" scope="col">Плательщик</th>
          <th scope="col">Получено</th>
          <th style="min-width: 140px;" scope="col">Дата получения</th>
          <th scope="col">Статус</th>
          <th style="min-width: 65px;" scope="col">Срок</th>
          <th scope="col">Фамилии</th>
        </tr>
      </thead>
      <tbody>
        {% for bb in page %}
          {% if bb.status == 'отменен' %}
            <tr class="text-danger">
              {% include "includes/order_item_table.html" %}
            </tr>
          {% elif bb.status == 'обработан' %}
            <tr style="color:DarkGoldenRod;">
              {% include "includes/order_item_table.html" %}
            </tr>
          {% elif bb.status == 'заказан' %}
            <tr class="text-primary">
              {% include "includes/order_item_table.html" %}
            </tr>
          {% elif bb.status == 'получен' %}
            <tr class="text-success">
              {% include "includes/order_item_table.html" %}
            </tr>
          {% elif bb.status == 'оплачен' %}
            <tr style="color:DarkViolet;">
              {% include "includes/order_item_table.html" %}
            </tr>
          {% else %}
            <tr>
              {% include "includes/order_item_table.html" %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="invoice_order" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Заказать компоненты</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          {% csrf_token %}
          <div class="modal-body">
            <p><i>Не забудьте сначала выбрать позиции используя "checkbox"</i></p>
            {% for field in invoice_number_form %}
              <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field|addclass:'form-control form-control-sm' }}
                {% if field.help_text %}
                <ul>
                  <li><p class="help"><i>{{ field.help_text|safe }}</i></p></li>
                </ul>
                {% endif %}
              </div>
            {% endfor %}
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" name="order" class="btn btn-primary">Заказать</button>
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="commit_order" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Получить компоненты</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i>Внимание!</i></p>
          <p><i>Не забудьте выбрать позиции!</i></p>
          <p><i>Полученное количество выставится согласно количеству, указанному в столбце "заказано"!</i></p>
          <p><i>В ином случае заявку следует обработать вручную!</i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" name="commit_order" class="btn btn-primary">Получить</button>
        </div>
      </div>
    </div>
  </div>
</form>

<br>

<div class="row">
  <div class="col">
  </div>
  <div class="col">
    {% if page.has_other_pages %}
      {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}
  </div>
  <div class="col">
  </div>
</div>

<script>
  $(document).ready(function() {
      $('#id_component').select2({ width: '100%' });
  });
  $(document).ready(function() {
      $('#id_component_create_order').select2({ width: '100%' });
  });
  document.getElementById('select_all')
  .addEventListener('click', function (e) {
    var els = document.querySelectorAll(
      'input[name=checkbox]'
    );

    Array.prototype.forEach.call(els, function(cb){
      cb.checked = e.target.checked;
    });
  });
  $(function () {
    $('[id="help"]').tooltip()
  });
  $(function () {
    $('[id="help_block"]').tooltip({
      placement:"right",
      html:true,
    })
  });
</script>

{% endblock %}
