{% extends "base.html" %}
{% load user_filters %}
{% block title %}Редактирование заявки{% endblock %}

{% block content %}
<div class="container">
    <h1>Редактирование заявки</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.component.errors }}
        {{ form.component.label_tag }}
        {{ form.component|addclass:"form-control form-control-sm" }}
        <br>
        {{ form.amount.label_tag }}
        {{ form.amount|addclass:"form-control form-control-sm" }}
        <br>
        {{ form.note.label_tag }}
        {{ form.note|addclass:"form-control form-control-sm" }}
        {{ form.status.as_hidden }}
        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}
