{% extends "base.html" %}
{% load user_filters %}
{% block title %}{% if cancel %}Отменить заказы{% else %}Подтвердить оплату{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class='col'>
        </div>
        <div class='col'>
            {% if cancel %}
                <h1>Отменить заказы</h1>
            {% else %}
                <h1>Подтвердить оплату</h1>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field|addclass:"form-control form-control-sm" }}
                        {% if field.help_text %}
                            <p class="help"><i>{{ field.help_text|safe }}</i></p>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>
        </div>
        <div class='col'>
        </div>
    </div>
</div>
{% endblock %}
