{% extends "base.html" %}
{% block title %}Управление блоками{% endblock %}

{% block content %}
<h1 class="text-center">Управление блоками</h1>

<div class="row">

  <div class="col">
    <div>
      <h3>Внести блок в ремонт</h3>
      <form method="POST" action="{% url 'add_new_record_block' %}">
        {% csrf_token %}
        {{ record_block_form.as_p }}
        <button type='submit' class='btn btn-primary' name='add_record_block'>
          Добавить
        </button>
      </form>
    </div>
  </div>

  <div class="col">
    <div>
      <div>
        <h3>Внести новое наименование блока</h3>
        <form method='POST' action="{% url 'add_new_type_block' %}">
          {% csrf_token %}
          {{ type_block_form.as_p }}
          <button type='submit' class='btn btn-primary' name='add_type_block'>
            Добавить
          </button>
        </form>
      </div>
    </div>

    <div>
      <div>
        <h3>Внести новое наименование участка</h3>
        <form method="POST" action="{% url 'add_new_region' %}">
          {% csrf_token %}
          {{ unit_form.as_p }}
          <button type='submit' class='btn btn-primary' name='add_unit'>
            Добавить
          </button>
        </form>
      </div>
    </div>
  </div>

</div>

{% include 'includes/block_filter.html' %}

{% include 'includes/block_items.html' %}

<script>
$(document).ready(function() {
    $('#id_record_block').select2();
});
</script>
{% endblock %}
