{% extends "base.html" %}
{% load user_filters %}
{% block title %}Учет использованных компонентов{% endblock %}

{% block content %}
<h1 class="text-center">Учет использованных компонентов</h1>
<hr>
<div class="ms-3 me-3">
  <h3>Фильтр</h3>
    <form method="GET">
      <div class="row">
          <div class="col">
              <div>
                  <div class="form-group is-valid">
                      <label for="id_component">Компоненты</label>
                      <select name="component" class="form-control" title="" id="id_component" multiple>
                          {% for name in components %}
                          <option value="{{ name.pk }}">
                              {{ name.type_component }}
                              {{ name.marking }}
                              {{ name.note }}
                          </option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
              <div>
                  <div class="form-group">
                      <label for="id_company">Компания</label>
                      <select name="company" class="form-control" id="id_company">
                          <option value="">--------</option>
                          <option value="ЭИС">ЭИС</option>
                          <option value="ТРК">ТРК</option>
                          <option value="ВТС">ВТС</option>
                      </select>
                  </div>
              </div>
          </div>

          <div class="col">
              <div class="form-group">
                  <label for="id_date_add_0">Дата учета с</label>
                  <input type="date" name="date_add_after" class="form-control" placeholder="Дата учета" title="" id="id_date_add_0">
              </div>
              <div class="form-group">
                  <label for="id_date_add_1">по</label>
                  <input type="date" name="date_add_before" class="form-control" placeholder="Дата учета" title="" id="id_date_add_1">
              </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Применить фильтр</button>
    </form>
</div>

<hr>

<div class="ms-3 me-3">
  <table class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 5%">Наименование компонента</th>
          <th scope="col" style="width: 5%">Номер и наименование блока</th>
          <th scope="col" style="width: 1%">Дата учета</th>
          <th scope="col" style="width: 1%">Компания</th>
          <th scope="col" style="width: 1%">Количество</th>
        </tr>
      </thead>
      <tbody>
        {% for record in usage_filter.qs %}
        <tr>
            <td>{{ record.component }}</td>
            <td><a href="{% url 'block_info' record.block.pk %}">{{ record.block }}</a></td>
            <td>{{ record.date_add|date:"d.m.Y" }}</td>
            <td>{{ record.company }}</td>
            <td>{{ record.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

<script>
    $(document).ready(function() {
        $('#id_component').select2();
      });
</script>

{% endblock %}
