{% extends "base.html" %}
{% load user_filters %}
{% block title %}Заказы{% endblock %}

{% block content %}
<style>
.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
</style>
<h1 class='text-center'>Заказы</h1>

<div class='container'>
  {% include 'includes/messages.html' %}
</div>

<hr>
<!-- Кнопки, открывающие модальные окна форм -->
<nav class="navbar">
  <div class="container">
    <button type="button" class="btn btn-outline-primary nav-link zoom-menu mb-2" data-bs-toggle="modal" data-bs-target="#create_request">Создать заявку</button>
  </div>
</nav>
<!-- /////////////////////////////////////// -->
<hr>

<div class="modal fade" id="create_request" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Создать заявку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='{% url "create_request" %}' method='POST'>
        {% csrf_token %}
        <div class="modal-body">
            {{ create_request_form.component.errors }}
            {{ create_request_form.component.label_tag }}
            {{ create_request_form.component|addclass:"form-control form-control-sm" }}
            {{ create_request_form.amount.label_tag }}
            {{ create_request_form.amount|addclass:"form-control form-control-sm" }}
            {{ create_request_form.note.label_tag }}
            {{ create_request_form.note|addclass:"form-control form-control-sm" }}
            {{ create_request_form.status.as_hidden }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="processing_order" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Обработать заявку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  method='POST'>
        {% csrf_token %}
        <div class="modal-body">
            {{ processing_order_form.amount_order.errors }}
            {{ processing_order_form.amount_order.label_tag }}
            {{ processing_order_form.amount_order|addclass:"form-control form-control-sm" }}
            {{ processing_order_form.provider.label_tag }}
            {{ processing_order_form.provider|addclass:"form-control form-control-sm" }}
            {{ processing_order_form.status.as_hidden }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Обработать</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="ms-3 me-3">
    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 5%"></th>
            <th scope="col">Наименование компонента</th>
            <th scope="col">Количество</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Дата обработки</th>
            <th scope="col">Заказано</th>
            <th scope="col">Поставщик</th>
            <th scope="col">Дата заказа</th>
            <th scope="col">Получено</th>
            <th scope="col">Дата получения</th>
            <th scope="col">Статус</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Номер счета</th>
          </tr>
        </thead>
        <tbody>
        {% for bb in queryset %}
        <tr>
            <th scope="row">
              <input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.pk }}" id='{{ bb.pk }}'>&nbsp{{ bb.pk }}
              {% if request.user == bb.user %}
              <a href="{% url 'edit_request' bb.pk %}">ред.</a>
              {% endif %}
            </th>
            <td>{{ bb.component }}</td>
            <td>{{ bb.amount }}</td>
            <td>{{ bb.date_created|date:"d.m.Y" }}</td>
            {% if bb.date_processing %}
              <td>{{ bb.date_processing|date:"d.m.Y" }}</td>
            {% else %}
              <td><a href='{% url "processing_order" bb.pk %}' class="btn btn-primary btn-sm">Обработать</a></td>
            {% endif %}
            <td>{{ bb.amount_order }}</td>
            <td>{{ bb.provider }}</td>
            <td>{{ bb.date_order|date:"d.m.Y" }}</td>
            <td>{{ bb.amount_commit }}</td>
            <td>{{ bb.date_commit }}</td>
            <td>{{ bb.status }}</td>
            <td>{{ bb.user }}</td>
            <td>{{ bb.invoice_number }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row">
            <input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.pk }}" id='{{ bb.pk }}'>&nbsp{{ bb.pk }}
            {% if request.user == bb.user %}
            <a href="{% url 'edit_request' bb.pk %}">ред.</a>
            {% endif %}
          </th>
          <td>микросхема ААА ФФ-12</td>
          <td>10</td>
          <td>22.12.1212</td>
          <td>22.12.1212</td>
          <td>22.12.1212</td>
          <td>10</td>
          <td>Чип-Дип</td>
          <td>10</td>
          <td>22.12.1212</td>
          <td>Получено</td>
          <td>фффф</td>
          <td>12312313123123</td>
      </tr>
        </tbody>
      </table>
</div>

<script>
  $(document).ready(function() {
      $('#id_component').select2({ width: '100%' });
  });
</script>

{% endblock %}
