{% extends "base.html" %}
{% load user_filters %}
{% block title %}Учет блоков{% endblock %}

{% block content %}
<h1 class="text-center">Ремонт производителя</h1>
<hr>
<div class='container'>
    {% include 'includes/messages.html' %}
  </div>
<form class="ms-1 me-1" method='GET'>
    {% csrf_token %}
    <div class="row">
      <div class="col-1" style="min-width: 150px;">
        <div class="form-group is-valid">
          <label for="id_number_block_0">Номер блока с</label>
          <input type="number" name="number_block_min" class="form-control form-control-sm" placeholder="Номер блока" title="" id="id_number_block_0">
        </div>
        <div class="form-group is-valid">
          <label for="id_number_block_1">по</label>
          <input type="number" name="number_block_max" class="form-control form-control-sm" placeholder="Номер блока" title="" id="id_number_block_1">
        </div>
      </div>
      <div class="col-3">
        <label for="id_name_block">Тип блока</label>
        {{ data_filter.form.name_block|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col-1" style="min-width: 150px;">
        <div class="form-group is-valid">
            <label for="id_serial">Зав.№</label>
            {{ data_filter.form.serial_number|addclass:"form-control form-control-sm" }}
        </div>
        <div class="form-group is-valid">
            <label for="id_maker">Производитель</label>
            {{ data_filter.form.maker|addclass:"form-control form-control-sm" }}
        </div>
      </div>
      <div class="col-2" style="min-width: 150px;">
        <label for="id_date_shipment_maker_0">Дата отправки с</label>
        <input type="date" name="date_shipment_maker_after" class="form-control form-control-sm" placeholder="Дата ремонта" title="" id="id_date_shipment_maker_0">
        <label for="id_date_shipment_maker_1">по</label>
        <input type="date" name="date_shipment_maker_before" class="form-control form-control-sm" placeholder="Дата ремонта" title="" id="id_date_shipment_maker_1">
      </div>
      <div class="col-2" style="min-width: 150px;">
        <label for="id_date_add_maker_0">Дата возврата c</label>
        <input type="date" name="date_add_maker_after" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_add_maker_0">
        <label for="id_date_add_maker_1">по</label>
        <input type="date" name="date_add_maker_before" class="form-control form-control-sm" placeholder="Дата приема" title="" id="id_date_add_maker_1">
      </div>
      <div class="col" style="min-width: 150px;">
        <label for="id_status">Статус</label>
        {{ data_filter.form.maker_status|addclass:"form-control form-control-sm" }}
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-sm btn-dark mt-4" name="search_all">Поиск</button>
        </div>
      </div>
    </div>
  </form>

  <hr>

<style>
    thead th {
      position: sticky;
      top: 0;
      background: white;
    }
</style>
    
<form method='GET' action='{% url "return_block_maker" %}'>
        {% csrf_token %}
        <div class='ms-3 me-3'>
          <button type="submit" name="send_block" class="btn btn-outline-primary">Отправка указанных блоков</button>
          <button type="submit" name="return" class="btn btn-outline-success">Возврат указанных блоков</button>
          <button type="submit" name="defect" class="btn btn-outline-danger">Забраковать указанные блокои</button>
        </div>

        {% include 'includes/maker_block_item.html' %}

</form>

<script>
  $(document).ready(function() {
      $('#id_record_block').select2({ width: '100%' });
  });
  $(document).ready(function() {
      $('#id_name_block').select2({ width: '100%' });
  });
  $(document).ready(function() {
      $('.component_multiple_select2').select2({ width: '100%', height: '100%' });
  });
</script>

{% endblock %}
