{% extends "base.html" %}
{% load user_filters %}
{% block title %}Заказы{% endblock %}

{% block content %}
<style>
.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
</style>
<h1 class='text-center'>Заказы</h1>

<div class='container'>
  {% include 'includes/messages.html' %}
</div>
<hr>

<form method="get">
  <div class="container">
    <div class="row">
      <div class="col-4">
        {{ data_filter_form.form.component.label_tag }}
        {{ data_filter_form.form.component|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.delivery_time.label_tag }}
        {{ data_filter_form.form.delivery_time|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.provider.label_tag }}
        {{ data_filter_form.form.provider|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.status.label_tag }}
        {{ data_filter_form.form.status|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.invoice_number.label_tag }}
        {{ data_filter_form.form.invoice_number|addclass:"form-control form-control-sm" }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        {{ data_filter_form.form.date_created.label_tag }}
        {{ data_filter_form.form.date_created|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.date_processing.label_tag }}
        {{ data_filter_form.form.date_processing|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.date_order.label_tag }}
        {{ data_filter_form.form.date_order|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.date_commit.label_tag }}
        {{ data_filter_form.form.date_commit|addclass:"form-control form-control-sm" }}
      </div>
      <div class="col">
        {{ data_filter_form.form.date_created.label_tag }}
        {{ data_filter_form.form.date_created|addclass:"form-control form-control-sm" }}
      </div>
    </div>
    <br>
    <div class="row">
        <button type="submit" class="btn btn-sm btn-primary btn-block">Применить</button>
    </div>

  </div>
</form>
<hr>

<div class="modal fade" id="create_request" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Создать заявку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action='{% url "create_request" %}' method='POST'>
        {% csrf_token %}
        <div class="modal-body">
          {% for field in processing_order_form %}
          {% if field.name == 'component' or field.name == 'amount' %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field|addclass:"form-control form-control-sm" }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
          {% else %}
          {{ field.as_hidden }}
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>

<form action="{% url 'order_components' %}" method='POST'>
  <div class='ms-3 me-3'>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create_request">Создать заявку</button>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#invoice_order">Сформировать заказ</button>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#commit_order">Принять поставку</button>
  </div>
  <hr>
  <div class="ms-3 me-3">
    <table class="table table-sm table-hover table-bordered text-center">
      <thead>
        <tr>
          <th scope="col" style="width: 3%"></th>
          <th style="min-width: 400px;" scope="col">Наименование компонента</th>
          <th scope="col">Количество</th>
          <th style="min-width: 112px;" scope="col">Дата заявки</th>
          <th style="min-width: 135px;" scope="col">Дата обработки</th>
          <th style="min-width: 45px;" scope="col">Заказано</th>
          <th scope="col">Поставщик</th>
          <th style="min-width: 112px;" scope="col">Дата заказа</th>
          <th style="min-width: 112px;" scope="col">Номер счета</th>
          <th scope="col">Получено</th>
          <th style="min-width: 140px;" scope="col">Дата получения</th>
          <th scope="col">Статус</th>
          <th style="min-width: 135px;" scope="col">Срок поставки</th>
          <th scope="col">Фамилии</th>
        </tr>
      </thead>
      <tbody>
        {% for bb in page %}
        <tr>
          <th scope="row">
            <input class="form-check-input" type="checkbox" name="checkbox" value="{{ bb.pk }}" id='{{ bb.pk }}'>&nbsp{{ bb.pk }}
          </th>
          <td style="text-align: left;">{{ bb.component }}</td>
          <td>{{ bb.amount }}</td>
          <td>{{ bb.date_created|date:"d.m.Y" }}</td>
          {% if bb.date_processing %}
          <td>{{ bb.date_processing|date:"d.m.Y" }}</td>
          {% else %}
          <td><a href='{% url "processing_order" bb.pk %}' class="btn btn-primary btn-sm">Обработать</a></td>
          {% endif %}
          <td>{{ bb.amount_order }}</td>
          <td>{{ bb.provider }}</td>
          <td>{{ bb.date_order|date:"d.m.Y" }}</td>
          <td>{{ bb.invoice_number }}</td>
          {% if bb.status == 'заказан' %}
          <td colspan="2">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href='{% url "incomplete_commit_order" bb.pk %}' name="commit" class="btn btn-primary btn-sm">Получить</a>
              <a href='{% url "cancel_order" bb.pk %}' name="cancel" class="btn btn-danger btn-sm">Отменить</a>
            </div>
          </td>
          {% else %}
            <td>{{ bb.amount_commit }}</td>
            <td>{{ bb.date_commit|date:"d.m.Y" }}</td>
          {% endif %}
          <td>{{ bb.status }}</td>
          <td>{{ bb.delivery_time }}</td>
          <td>{{ bb.user }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="invoice_order" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Заказать компоненты</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          {% csrf_token %}
          <div class="modal-body">
            <p><i>Не забудьте сначала выбрать позиции используя "checkbox"</i></p>
            {% for field in invoice_number_form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field|addclass:"form-control form-control-sm" }}
                </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" name="order" class="btn btn-primary">Заказать</button>
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="commit_order" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Получить компоненты</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i>Внимание!</i></p>
          <p><i>Только если заказанное количество соответсвует товарной накладной!</i></p>
          <p><i>Полученное количество выставится согласно количеству, указанному в столбце "заказано"!</i></p>
          <p><i>В ином случае заявку следует обработать в ручную!</i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" name="commit_order" class="btn btn-primary">Получить</button>
        </div>
      </div>
    </div>
  </div>
</form>

<br>

<div class="row">
  <div class="col">
  </div>
  <div class="col">
    {% if page.has_other_pages %}
      {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}
  </div>
  <div class="col">
  </div>
</div>

<script>
  $(document).ready(function() {
      $('#id_component').select2({ width: '100%' });
  });
  document.getElementById('select_all')
  .addEventListener('click', function (e) {
    var els = document.querySelectorAll(
      'input[name=checkbox]'
    );

    Array.prototype.forEach.call(els, function(cb){
      cb.checked = e.target.checked;
    });
  })
;
</script>

{% endblock %}
