{% extends "base.html" %}
{% block title %}Информация о компонентах{% endblock %}
{% load user_filters %}

{% block content %}
<h1 class="text-center">Информация о компонентах</h1>

<hr>


<nav class="navbar">
  <div class="container">
    <button id="help" type="button" class="btn btn-outline-primary nav-link zoom-menu mb-2" data-bs-toggle="modal" data-bs-target="#new_component" data-placement="top" title="Перед добавлением нового компонента, убедитесь что его никто не добавил до вас!">
      Новый компонент
    </button>
    <button type="button" class="btn btn-outline-primary nav-link zoom-menu mb-2" data-bs-toggle="modal" data-bs-target="#update_amount">Увеличить количество</button>
    <button type="button" class="btn btn-outline-primary nav-link zoom-menu mb-2" data-bs-toggle="modal" data-bs-target="#update_price">Изменить цену</button>
  </div>
</nav>

<div class='container'>
  {% include 'includes/messages.html' %}
</div>

<hr>

{% include 'includes/component_filter.html' %}

<hr>

<div class="modal fade" id="new_component" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Добавить новый компонент</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action='{% url "new_component" %}' method='POST'>
          {% csrf_token %}
          <div class="modal-body">
            {% for field in new_component_form %}
              <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field|addclass:'form-control form-control-sm' }}
                {% if field.help_text %}
                <ul>
                  <li><p class="help fs-6"><i>{{ field.help_text|safe }}</i></p></li>
                </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button id="help" data-placement="top" title="Перед добавлением нового компонента, убедитесь что его никто не добавил до вас!" type="submit" class="btn btn-primary">Добавить</button>
          </div>
        </form>
      </div>
    </div>
</div>
<!-- Модальное окно добавления нового типа блока -->
<div class="modal fade" id="update_amount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Увеличить количество</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action='{% url "update_amount" %}' method='POST'>
          {% csrf_token %}
          <div class="modal-body">
            {{ update_amount_form.component.label_tag }}
            {{ update_amount_form.component }}
            {{ update_amount_form.amount.label_tag }}
            {{ update_amount_form.amount }}
            {{ update_amount_form.company.label_tag}}
            {{ update_amount_form.company }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Добавить</button>
          </div>
        </form>
      </div>
    </div>
</div>
<!-- Модальное окно добавления региона -->
<div class="modal fade" id="update_price" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Изменение цены компонента</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action='{% url "update_price" %}' method='POST'>
          {% csrf_token %}
          <div class="modal-body">
            {% for field in update_price_form %}
              {{ field.label }}
              {{ field }}
              <br>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Изменить</button>
          </div>
        </form>
      </div>
    </div>
</div>


<div class='ms-3 me-3'>
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 1%"></th>
                <th scope="col">Наименование компонента <br>Всего наименований: кол-во</th>
                <th>Ссылки на поиск</th>
                <th scope="col" style="width: 5%">Количество ЭИС</th>
                <th scope="col" style="width: 5%">Количество ТРК</th>
                <th scope="col" style="width: 5%">Количество ВТС</th>
                <th scope="col" style="width: 5%">Общее количество</th>
                <th scope="col" style="width: 10%">Списано за прошедшие 30 дней</th>
                <th scope="col" style="width: 10%">Цена за единицу</th>
            </tr>
        </thead>
        <tbody>
            {% for record, cnt in result %}
            <tr>
                <td><a href="{% url 'edit_component' record.pk %}">ред.</a></td>
                <td>{{ record.type_component }}
                    {{ record.marking }}
                    {{ record.note|default_if_none:"" }}  
                </td>
                <td>
                    <a href="https://www.chipdip.ru/search?searchtext={{ record.marking }}">ChipDip</a>&nbsp
                    <a href="https://www.elitan.ru/price/index.php?find={{ record.marking }}&delay=-1&mfg=all&seenform=y">Elitan</a>&nbsp
                    <a href="https://www.platan.ru/cgi-bin/qwery_i.pl?code={{ record.marking }}">Platan</a>  
                </td>
                <td>{{ record.amount_eis }}</td>
                <td>{{ record.amount_trk }}</td>
                <td>{{ record.amount_vts }}</td>
                <td>{{ record.summ }}</td>
                <td>{{ cnt }}</td>
                <td>{{ record.price }} р/шт</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  $(function () {
    $('[id="help"]').tooltip()
  });
</script>
{% endblock %}
